<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: azure">
<h1 style="color: brown; text-align: center; font-family: 'Comic Sans MS'">Journal Entry - Johnathan Otten Individual Assignment</h1>
<div style="text-align: center">
    <form>
        <label style="text-align: left; font-family: 'Comic Sans MS'">Name: </label>
        <input>
        <label style="text-align: right; font-family: 'Comic Sans MS'">Date: </label>
        <input>
    </form>
    <br>
    <img src="images/journalGif.gif">
</div>
</body>
</html>